/*----------------------------------------------------------------------------*/
#lx-app-mapify-index {
	max-width: 24em;
	font-size: small;
	text-transform: uppercase;
	font-weight: 600;
	min-width: 250px;
	box-sizing: unset;
}

#lx-app-mapify-index .top-badge {
	line-height: 2.5em;
	margin-left: 4em;
	margin-right: 4em;
	font-size: 10pt;
	border-radius: 100px;
}

#lx-app-mapify-index .app-frame {
	text-align: center;
	border-radius: 100px;
	padding: 0.25em;
}

#lx-app-mapify-index .top-badge:hover, #lx-app-mapify-index .icon:hover {
	cursor: pointer;
}

.lx-marker span {
	border-radius: 100em;
}


#lx-app-mapify-index .icon {
	background: #EEE;
	border-radius: 3em;
	border-color: #EEE;
	min-width: 3em;
	padding: 0.5em;
}

#lx-app-mapify-index .search.icon {
	float: left;
}

/* marker counter */
#lx-app-mapify-index .search.icon span {
	margin-left: 0.15em;
	margin-right: 0.15em;
}

#lx-app-mapify-index .new.icon {
	float: right;
	padding: 0.4em 0.1em;
	font-size: medium;
}
#lx-app-mapify-index .icon.active, #lx-app-mapify-index .icon:hover {
	background: #3273dc;
	border-color: #3273dc;
	color: #FFF;
}

#lx-app-mapify-index .app-frame div{
	padding-top: 0.15rem;
}

/*----------------------------------------------------------------------------*/
#lx-app-mapify-search {
	height: 100%;
	overflow: hidden;
	background: none;	
	z-index: 1000;
	margin-top: -2px;
}

#lx-app-mapify-search #search-button-bar {
	background: #FFF;
}

#lx-app-mapify-search h1 {
	border-bottom: 1px solid #FFF;
}

#lx-app-mapify-search .app-mask {
	opacity: 0.5;
	z-index: -100;
}

#lx-app-mapify-search .menu li span {
	white-space: nowrap;
}

#lx-app-mapify-search #search-button-bar {
	padding: 1em 0.25em;
	border-bottom: 1px solid #EEE;
}+
#lx-app-mapify-search #search-button-bar .button {
	padding: 1.5em 1em;
	font-weight: 600;
	text-transform: uppercase;
	color: #4a4a4a;
	font-size: small;
}

#lx-app-mapify-search #search-button-bar .button.is-selected {
	color: #FFF;
} 

#lx-app-mapify-search .empty-set {
	text-align: center;
	padding: 1em;
	border-bottom: 1px solid #EEE;
}

@media only screen and (max-width: 400px) {
	#lx-app-mapify-search #search-button-bar .button {
		padding: 1.5em 0.75em;
	}
}

@media only screen and (max-width: 350px) {
	#lx-app-mapify-search #search-button-bar .button {
		padding: 1.25em 0.5em;
	}
}
