/*----------------------------------------------------------------------------*/
#lx-app-mapify-index {
	max-width: 18em;
	font-size: small;
	text-transform: uppercase;
	font-weight: 600;
}

#lx-app-mapify-index .app-frame {
	text-align: center;
	border-radius: 6px;
	height: 2.25rem;
}

#lx-app-mapify-index:hover {
	cursor: pointer;
}

.lx-marker span {
	border-radius: 100em;
}


.lx-map-zoom-far #map .lx-default, .lx-map-zoom-very-far #map .lx-default {
	background: #3273dc;
}

#lx-app-mapify-index .icon {
	background: #EEE;
	border-radius: 1em;
	border-color: #EEE;
	float: right;
}

#lx-app-mapify-index .icon.active, #lx-app-mapify-index .icon:hover {
	background: #3273dc;
	border-color: #3273dc;
	color: #FFF;
}

#lx-app-mapify-index .app-frame div{
	padding-top: 0.15rem;
}



/*----------------------------------------------------------------------------*/


#lx-app-mapify-detail .app-frame {
	margin: 0px 1.5em;
	padding: 0em;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top: 1em solid #FFF;
}

#lx-app-mapify-detail section {
	border-top: 1px solid #EEE;
	padding: 1em;
	text-align: center;
}

/*----------------------------------------------------------------------------*/
#lx-app-mapify-search {
	height: 100%;
	overflow: hidden;
	background: none;	
	z-index: 1000;
	margin-top: -2px;
}

#lx-app-mapify-search h1 {
	border-bottom: 1px solid #EEE;
}

#lx-app-mapify-search .app-frame {
	padding: 0em;
}

#lx-app-mapify-search .app-mask {
	opacity: 0.5;
	z-index: -100;
}