<div class="app-top">	
	<div class="app-frame">
		<!-- search icon -->
		<span @click.stop="searchMap" :class="'search icon ' + (show_search ? 'active' : 'inactive') ">	<i class="fas fa-search"></i>
		</span>

		<!-- new marker icon -->
		<span @click.stop="promptForNewMarker" class="icon new">
			<i class="fas fa-map-marker-alt"></i>
		</span>


		<!-- loading text -->
		<div class="marker-count" v-if="markers === null">
			Loading&hellip;
		</div> 

		<!-- marker count -->
		<div class="marker-count" v-if="markers !== null"  @click="chooseMap">
			{{ markers.length }} {{ 'Marker' | pluralize(markers.length) }}
		</div>

	</div>
</div>          