<div class="app-top" v-if="show_search">	
	<div class="app-frame menu-app-frame">
		<div id="search-button-bar"  v-long-press.stop="openDiagnostics" >
			<div class="buttons has-addons is-centered">
				<span v-for="type in types" v-bind:class="getSearchButtonClass(type)" @click="searchFilter(type)">
					<span>{{type.label}}</span>
				</span>
			</div>
		</div>
		<section class="empty-set" v-if="filtered_markers.length == 0">
			<p>No {{filter.label.toLowerCase()}} markers yet.</p>
		</section>
		<ul class="menu">
			<li v-for="item in filtered_markers"  @click="chooseFromMenu(item)" v-bind:data-marker-id="item.id">
				<div :class="getMarkerClass(item)"> 
					<i :class="getMarkerIconClass(item)"></i>
				</div>
				<span class="icon is-large">
					<i class="fas fa-angle-right"></i>
				</span>
				<span class="text"> {{ item.label || getCategory(item)}} </span>
			</li>

			<li class="inline-btn"  @click="closeMenu">
				Close
			</li>
		</ul>
	</div>
	<transition name="fade">
        <div class="app-mask" @click.stop="searchMap"></div>
     </transition>
</div>          