<div class="app-top" v-if="show_search">	
	<div class="app-frame">
		<h1>{{ marker_count }} {{ 'Marker' | pluralize(marker_count) }}</h1>
		<ul class="menu">
			<li v-for="item in markers" v-if="item" @click="chooseFromMenu(item)" >
				<div :class="getMarkerClass(item)"> 
					<i :class="getMarkerIconClass(item)"></i>
				</div>
				<span> {{ item.label || getCategory(item)}} </span>
				<span class="icon is-large">
					<i class="fas fa-angle-right"></i>
				</span>
			</li>

			<li class="inline-btn"  @click="closeMenu">
				Close
			</li>
		</ul>
	</div>
	<transition name="fade">
        <div class="app-mask" @click.stop="searchMap"></div>
     </transition>
</div>          