/*----------------------------------------------------------------------------*/
#lx-app-radiant-index {
	max-width: 450px;
	min-width: 320px;
}


#lx-app-radiant-index .app-frame {
	padding: 0em;
}

#lx-app-radiant-index h1 {
	border-bottom: 1px solid #EEE;
}


#lx-app-radiant-menu {
	max-width: 450px;
	min-width: 320px;
}

#lx-app-radiant-menu .app-frame {
	padding: 0em;
}

#lx-app-radiant-menu h1 {
	border-bottom: 1px solid #EEE;
}


#lx-app-radiant-menu .button-box {
	text-align: center;
	padding: 1em;
}

#lx-app-radiant-menu .button-box .icon {
	margin: auto;
	opacity: 0.9;
	font-size: xx-large;
}

#lx-app-radiant-menu .button-box p {
	padding: 1em;
}
#lx-app-radiant-menu .button-box .button {
	margin-top: 1em;
	width: 100%;
}



/*----------------------------------------------------------------------------*/
#lx-app-radiant-detail .app-frame {
	margin: 0px;
	border-radius: 0px;
	border-bottom: 1em solid #FFF;
}