<div class="app-center" v-if="show" v-cloak>
	<div class="app-frame" v-if="title">
		<section v-if="slide === 0">
			<img class="logo" src="../theme/logo.png">
			<h1>Welcome to the {{ title }}</h1>
			<p class="intro demo"> You are about to try out a demo. Data is for experimentation only and should not be relied upon or considered accurate.</p>
			<div class="button-set">
				<a class="button is-primary is-fullwidth" @click="doComplete">Get Started</a>
				<a class="button is-fullwidth" @click="doContinue">Learn More</a> 
			</div>
		</section>
		<section v-if="slide === 1">
			<img class="logo" src="../theme/logo.png">
		    <h1>Share Conditions &amp; Resources</h1>
	        <p class="intro"> Find safe zones, help and supplies nearby. Reported and verified by your community, officials and relief workers nearby.</p>
			<div class="button-single">		
				<a class="button is-fullwidth" @click="doContinue">Next</a> 
			</div>
	    </section>
		<section v-if="slide === 2">
			<img class="logo" src="../theme/logo.png">
		    <h1>Access &amp; Contribute Offline</h1>
	        <p class="intro"> The network is made up of small wireless devices &mdash; Lanterns &mdash; that communicate wirelessly. When internet is available, each Lantern will download new information and update your maps. </p>
	        <div class="button-single">
	    	    <a class="button is-fullwidth" @click="doContinue">Next</a>
		    </div>
	    </section>    
	    <section v-if="slide === 3">
			<img class="logo" src="../theme/logo.png">
	        <h1>Tell Folks You&#39;re Safe</h1>
	        <p class="intro"> Any data reported will be shared with others in the community once uploaded to a nearby device.</p>
		    <div class="button-single">
	       		<a class="button is-fullwidth" @click="doContinue">Get Started</a> 
	       	</div>
	    </section>
	</div>
	<transition name="fade">
        <div class="app-mask"></div>
     </transition>
</div>