.button.is-info {
	background-color: #3273dc
}

.button.is-info:hover {
	background-color: #3273dc;
}

.lx-marker.did-change {
	background: #323232 !important;
	color: #FFF !important;
	borderColor: #FFF !important;
}

#map .lx-marker {
	background: rgba(255,255,255,0.85);
	opacity: 0.90;
}
#map .lx-marker-draft {
	background: #EE452A;
	color: #FFF !important;
}

#map .lx-marker.did-focus {
	color: #FFF !important;
}


#map .lx-marker.usr {
	color: #4AADDB;
}

.menu .tag-icon.usr {
	background-color: #4AADDB;
}
#app-container .app .app-frame.usr {
	border-color: #4AADDB;
}
#map .lx-marker.usr.did-focus {
	background-color: #4AADDB;
}

#map .lx-marker.ven {
	color: #474646;
}

.menu .tag-icon.ven {
	background-color: #474646;
}
#app-container .app .app-frame.ven {
	border-color: #474646;
}
#map .lx-marker.ven.did-focus {
	background-color: #474646;
}


#map  .lx-marker.tsk {
	color: #1051ba;
} 

.menu .tag-icon.tsk  {
	background: #1051ba;
}

#app-container .app .app-frame.tsk {
	border-color: #1051ba;
}
#map .lx-marker.tsk.did-focus {
	background: #1051ba;
}




.menu .tag-icon.wtr  {
	background: #78aef9;
}

#map .lx-marker.wtr {
	color: #78aef9;
}
#app-container .app .app-frame.wtr {
	border-color: #78aef9;
}
#map .lx-marker.wtr.did-focus {
	background: #78aef9;
}




.menu .tag-icon.lnt  {
	background: #FF9F0E;	
}

#map .lx-marker.lnt {
	color: #FF9F0E;
}
#app-container .app .app-frame.lnt {
	border-color: #FF9F0E;
}
#map .lx-marker.lnt.did-focus {
	background: #FF9F0E;
}



#map .lx-marker.ful {
	color: #696E8E;
}

.menu .tag-icon.ful {
	background: #696E8E;
}
#app-container .app .app-frame.ful {
	border-color: #696E8E;
}
#map .lx-marker.ful.did-focus {
	background: #696E8E;
}


#map  .lx-marker.net {
	color: #73cc72;

}

.menu .tag-icon.net  {
	background: #73cc72;
}

#app-container .app .app-frame.net {
	border-color: #73cc72;
}
#map .lx-marker.net.did-focus {
	background: #73cc72;
}



#map .lx-marker.eat {
	color: #ffcc54;
}

.menu .tag-icon.eat  {
	background: #ffcc54;
}
#app-container .app .app-frame.eat {
	border-color: #ffcc54;
}
#map .lx-marker.eat.did-focus {
	background: #ffcc54;
}

#map  .lx-marker.clo {
	color: #50c1b6;
}

.menu .tag-icon.clo  {
	background: #50c1b6;
}
#app-container .app .app-frame.clo {
	border-color: #50c1b6;
}
#map .lx-marker.clo.did-focus {
	background: #50c1b6;
}

#map  .lx-marker.pwr {
	color: #f45d90;
} 

.menu .tag-icon.pwr  {
	background: #f45d90;
}
#app-container .app .app-frame.pwr {
	border-color: #f45d90;
}
#map .lx-marker.pwr.did-focus {
	background: #f45d90;
}

#map .lx-marker.med {
	color: #9478EA;
} 
.menu .tag-icon.med  {
	background: #9478EA;
}
#app-container .app .app-frame.med {
	border-color: #9478EA;
}
#map .lx-marker.med.did-focus {
	background: #9478EA;
}

#map .lx-marker.sit {
	color: #FFB000;
}

.menu .tag-icon.sit {
	background-color: #FFB000;
}
#app-container .app .app-frame.sit {
	border-color: #FFB000;
}
#map .lx-marker.sit.did-focus {
	background-color: #FFB000;
}


#map .lx-marker.rdb, #map .lx-marker.dtr, #map .lx-marker.cba,#map .lx-marker.dst {
	color: #ff844d;
}

.menu .tag-icon.rdb, .menu .tag-icon.dtr,  ,.menu .tag-icon.cba, .menu .tag-icon.dst {
	background: #ff844d;
}

#app-container .app .app-frame.rdb, #app-container .app .app-frame.dtr,#app-container .app .app-frame.cba, #app-container .app .app-frame.dst {
	border-color: #ff844d;
}

#map .lx-marker.rdb.did-focus {
	background: #ff844d;
}

#map .lx-marker.pwr {
	color: #c075c9;
}

.menu .tag-icon.pwr {
	background: #c075c9;
}
#app-container .app .app-frame.pwr {
	border-color: #c075c9;
}
#map .lx-marker.pwr.did-focus {
	background: #c075c9;
}
