

#map .lx-marker.ven {
	background-color: #3273dc;
}


#map .lx-marker.bed, .menu .tag-icon.bed  {
	background: #4AADDB;
}

#map  .lx-marker.wtr, .menu .tag-icon.wtr  {
	background: #78aef9;
}

#map .lx-marker.ful, .menu .tag-icon.ful {
	background: #696E8E;
}

#map  .lx-marker.net, .menu .tag-icon.net  {
	background: #73cc72;
}

#map .lx-marker.eat, .menu .tag-icon.eat  {
	background: #ffcc54;
}


#map  .lx-marker.clo, .menu .tag-icon.clo  {
	background: #50c1b6;
}

#map  .lx-marker.pwr, .menu .tag-icon.pwr  {
	background: #f45d90;
}

#map .lx-marker.med, .menu .tag-icon.med  {
	background: #9478EA;
}

#map .lx-marker.obs {
	background: #ff844d;
}

#map .lx-marker.pwr, .menu .tag-icon.pwr {
	background: #c075c9;
}


#map .lx-marker.sit {
	background-color: #FFB000;
}