.button.is-info {
	background-color: #3273dc
}

.button.is-info:hover {
	background-color: #3273dc;
}


#map .lx-marker {
	background: #FFF;
}
#map .lx-marker-draft {
	background: #EE452A;
}

#map .lx-marker.did-change {
	color: #FFF !important;
}


#map .lx-marker.usr {

	color: #1051ba;
	background: #FFF;
}

.menu .tag-icon.usr {
	background-color: #1051ba;
}
#app-container .app .app-frame.usr {
	border-color: #1051ba;
}
#map .lx-marker.usr.did-change {
	background-color: #1051ba;
}

#map .lx-marker.ven {
	color: #1051ba;
	background: #FFF;
}

.menu .tag-icon.ven {
	background-color: #1051ba;
}
#app-container .app .app-frame.ven {
	border-color: #1051ba;
}
#map .lx-marker.ven.did-change {
	background-color: #1051ba;
}

.menu .tag-icon.bed  {
	background: #4AADDB;
}
#map .lx-marker.bed {
	color: #4AADDB;
	background: #FFF;
}
#app-container .app .app-frame.bed {
	border-color: #4AADDB;
}
#map .lx-marker.bed.did-change {
	background: #4AADDB;
}

.menu .tag-icon.wtr  {
	background: #78aef9;
}

#map .lx-marker.wtr {
	color: #78aef9;
	background: #FFF;
}
#app-container .app .app-frame.wtr {
	border-color: #78aef9;
}
#map .lx-marker.wtr.did-change {
	background: #78aef9;
}

#map .lx-marker.ful {
	color: #696E8E;
	background: #FFF;
}

.menu .tag-icon.ful {
	background: #696E8E;
}
#app-container .app .app-frame.ful {
	border-color: #696E8E;
}
#map .lx-marker.ful.did-change {
	background: #696E8E;
}


#map  .lx-marker.net {
	color: #73cc72;
	background: #FFF;

}

.menu .tag-icon.net  {
	background: #73cc72;
}

#app-container .app .app-frame.net {
	border-color: #73cc72;
}
#map .lx-marker.net.did-change {
	background: #73cc72;
}


#map  .lx-marker.tsk {
	color: #474646;
	background: #FFF;
} 

.menu .tag-icon.tsk  {
	background: #474646;
}

#app-container .app .app-frame.tsk {
	border-color: #474646;
}
#map .lx-marker.tsk.did-change {
	background: #474646;
}


#map .lx-marker.eat {
	color: #ffcc54;
	background: #FFF;
}

.menu .tag-icon.eat  {
	background: #ffcc54;
}
#app-container .app .app-frame.eat {
	border-color: #ffcc54;
}
#map .lx-marker.eat.did-change {
	background: #ffcc54;
}

#map  .lx-marker.clo {

	color: #50c1b6;
	background: #FFF;
}

.menu .tag-icon.clo  {
	background: #50c1b6;
}
#app-container .app .app-frame.clo {
	border-color: #50c1b6;
}
#map .lx-marker.clo.did-change {
	background: #50c1b6;
}

#map  .lx-marker.pwr {

	color: #f45d90;
	background: #FFF;
	} 

.menu .tag-icon.pwr  {
	background: #f45d90;
}
#app-container .app .app-frame.pwr {
	border-color: #f45d90;
}
#map .lx-marker.pwr.did-change {
	background: #f45d90;
}

#map .lx-marker.med {
	color: #9478EA;
	background: #FFF;
} 
.menu .tag-icon.med  {
	background: #9478EA;
}
#app-container .app .app-frame.med {
	border-color: #9478EA;
}
#map .lx-marker.med.did-change {
	background: #9478EA;
}

#map .lx-marker.sit {
	color: #FFB000;
	background: #FFF;
}

.menu .tag-icon.sit {
	background-color: #FFB000;
}
#app-container .app .app-frame.sit {
	border-color: #FFB000;
}
#map .lx-marker.sit.did-change {
	background-color: #FFB000;
}


#map .lx-marker.rdb, #map .lx-marker.dtr, #map .lx-marker.cba,#map .lx-marker.dst {

	color: #ff844d;
	background: #FFF;
}

.menu .tag-icon.rdb, .menu .tag-icon.dtr,  ,.menu .tag-icon.cba, .menu .tag-icon.dst {
	background: #ff844d;
}

#app-container .app .app-frame.rdb, #app-container .app .app-frame.dtr,#app-container .app .app-frame.cba, #app-container .app .app-frame.dst {
	border-color: #ff844d;
}

#map .lx-marker.rdb.did-change {
	background: #ff844d;
}

#map .lx-marker.pwr {
	color: #c075c9;
	background: #FFF;
}

.menu .tag-icon.pwr {
	background: #c075c9;
}
#app-container .app .app-frame.pwr {
	border-color: #c075c9;
}
#map .lx-marker.pwr.did-change {
	background: #c075c9;
}
