#lx-app-diagnostics-index .app-frame {
}

#lx-app-diagnostics-index .tag.is-dark {
    min-width: 10em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


#lx-app-diagnostics-index .tag.is-primary {
    min-width: 3em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}