<div class="app-bottom" v-if="marker">
	<div :class="'app-frame ' + marker.tags.join(' ')" :data-marker="marker.id" v-if="!readyForSettings">
        <header @click="promptForLabel">
	   	   <h1><i v-if="marker.signatures.length" class="fa fa-check-circle"/> {{marker_title}}</h1>
        </header>

        <form class="marker-label-form" v-if="readyForLabel" v-on:submit.prevent="saveLabel">
            <input class="input" type="text" placeholder="Marker label" v-model="label">
            <div class="button is-primary"  @click="saveLabel">
                Save
            </div>
        </form>


        <section v-if="pingInProgress">
            <p>Showing viewers this marker&hellip;</p>
        </section>
        <section class="marker-label" v-if="!pingInProgress && !readyForLabel && marker.label" @click="promptForLabel">
            {{ marker.label }}
        </section>

        <section v-if="readyToDrop">
            Are you sure you want to remove this marker? This will impact all other users relying on this marker, too.
        </section>

        <section v-if="readyToDrop">     
            <div class="buttons is-centered">
                <div class="button"  @click="drop">
                    <i class="fa fa-trash-alt"/>
                </div>
            </div>
        </section>

        <section v-if="!readyToDrop" class="score">
            <div @click="scoreUp" class="score-up">
            </div>
            <div @click="scoreDown" class="score-down">
            </div>
            <progress class="progress" v-bind:value="100*marker.score" max="100">{{marker.score*100}}%</progress>
        </section>

        <section v-if="!readyToDrop" class="actions">
            <div class="buttons is-centered">
                <div class="button"  @click="map">
                    <i class="fa fa-map"/>
                </div>            
                <div class="button"  @click="zoom">
                    <i class="fa fa-search-plus"/>
                </div>                      
                <div class="button"  @click="ping">
                    <i class="fa fa-bullhorn"/>
                </div>            
                <div class="button"  @click="showSettings">
                    <i class="fa fa-ellipsis-v"/>
                </div>
            </div>
        </section>
	</div>
    <transition name="fade">
        <div v-if="marker" @click="close" class="app-mask"></div>
     </transition>
</div>