<div class="app-bottom" v-if="marker && readyForSettings">

    <div :class="'app-frame menu-app-frame ' + marker.tags.join(' ')" :data-marker="marker.id">

        <ul class="menu">


            <li @click="approve" v-if="!marker.hasSignature(username)">
                <span> Verify</span>
            </li>
            <li @click="dispute" v-if="marker.hasSignature(username)">
                <span> Undo Verification</span>
            </li>
            <li @click="ping">
                <span> Ping </span>
            </li>
            <li @click="promptForDrop">
                <span> Delete</span>
            </li>   
            <li class="inline-btn" @click="closeSettingsMenu">
                Close
            </li>
        </ul>
    </div>
</div>