<div class="app-bottom" v-if="marker && view == 'settings'">
    <div v-if="!username" class="app-frame">
        <h1 class="button-box-title">Sign-In Required</h1>
        <div class="button-box">
            <p>To modify a marker, please sign-in first.</p>
            <div :class="(isLoading ? 'is-loading' : '') + ' button is-primary'" @click="signIn"> Sign In </div>
            <div class="button is-secondary" @click="closeSettingsMenu">Cancel</div>
        </div>
    </div>


    <div v-if="username" :class="'app-frame menu-app-frame ' + marker.tags.join(' ')" :data-marker="marker.id">

        <ul class="menu">
            <li @click="ping">
                <span> Ping </span>
            </li>
            <li @click="approve" v-if="!marker.hasSignature(username)">
                <span> Verify</span>
            </li>
            <li @click="dispute" v-if="marker.hasSignature(username)">
                <span>Dispute</span>
            </li>
            <li @click="move">
                <span> Relocate</span>
            </li>
            <li @click="promptForDrop">
                <span> Delete</span>
            </li>   
            <li class="inline-btn" @click="closeSettingsMenu">
                Close
            </li>
        </ul>
    </div>
</div>