<div class="app-bottom" v-if="marker && view == 'users'">
    <div v-if="username" :class="'app-frame menu-app-frame ' + marker.tags.join(' ')" :data-marker="marker.id">
        <h1>En Route</h1>
        <div  class="button-box no-users">
            <h2 v-if="!marker.viewers.length">
                No users are en route to this location yet.
            </h2>
            <div v-if="marker.viewers.indexOf(username) !== -1">
                You are en route to this location.
            </div>
            <div v-if="marker.viewers.indexOf(username) === -1" class="button is-primary" @click="follow">I Am Going</div>
        </div>

        <ul class="menu">
            <li class="user">
                <span class="tag"  v-for='username in marker._data.viewers' @click="unfollow(username)">
                    <span class="dot"  :style="'background-color: ' + color(username)"></span>
                    {{username}}
                </span>
            </li>
            <li class="inline-btn" @click="closeSettingsMenu">
                Close
            </li>
        </ul>
    </div>
</div>