<div class="app-bottom" v-if="menu.items">

	<div class="app-frame" v-if="!username">
		<h1 class="button-box-title">Sign-In Required</h1>
		<div class="button-box">
			<p>To save a marker, please sign-in first.</p>
			<div :class="(is_saving ? 'is-loading' : '') + ' button is-primary'" @click="signIn"> Sign In </div>
			<div class="button is-secondary" @click="closeBottomMenu">Cancel</div>
		</div>
	</div>

	<div class="app-frame menu-app-frame" v-if="username">
		<h1 class="button-box-title" v-if="!prompt_draft_save">{{menu.title}}</h1>

		<!-- draft marker saving -->
		<div class="button-box" v-if="prompt_draft_save">
				<span class="icon is-large">
					<i class="fas fa-map-marked-alt"></i>
				</span>
			<p>Data you share will update the map for nearby users.</p>
			<div :class="(is_saving ? 'is-loading' : '') + ' button is-primary'" @click="saveMarker">Save</div>
			<div class="button is-secondary" :disabled="is_saving" @click="goToPreviousMenu">Back</div>
		</div>

		<!-- multi-purpose menu -->
		<ul class="menu" v-if="!prompt_draft_save">
			<li v-for="item in menu.items" v-if="item.tag != 'lnt'" @click="chooseFromBottomMenu(item)" >
				<div v-if="item.icon_class" :class="item.tag_class"> 
					<i :class="item.icon_class"></i>
				</div>
				<span class="icon is-large">
					<i class="fas fa-angle-right"></i>
				</span>
				<span class="text"> {{ item.label}} </span>
			</li>

			<!-- allow option for previous menu access -->
			<li class="inline-btn" v-if="previous.title" @click="goToPreviousMenu">
				Back
			</li>
			<li class="inline-btn" v-if="!previous.title" @click="closeBottomMenu">
				Cancel
			</li>
		</ul>
	</div>
</div>

